*{
    margin: 0;
    padding: 0;
}

#landing{
    position: relative; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}
#landing::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('images/landing3.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}
#landing h1{
    font-size:5.2vw;
    font-family: 'Anton', sans-serif;
    color:rgb(51, 51, 51);
    letter-spacing: 0.75vw;
}
#landing p{
    font-size:4.8vw;
    font-family: 'Francois One', sans-serif;
    color:rgb(51, 51, 51);
    letter-spacing: 0.9vw;
}
#landing h2{
    padding: 2.5vw;
    font-size:5.1vw;
    font-family: 'Francois One', sans-serif;
    color:rgb(3, 3, 3);
    letter-spacing: 0.75vw;
    font-weight: 500;
}
#nav{
    height:80px;
    position: fixed;
    background-color :rgba(39, 36, 36,0);
    z-index:1000;
    width: 100%;
    display: inline-block;
    -webkit-transition: height .5s line-height .5s ;
    transition: height .5s line-height .5s ;
}
#nav #first{
    color:rgb(204, 166, 131);
    font-size: 40px;
    float: left;
    padding: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-weight: 500;
}
#nav #second{
    float:right;
}
#nav li{
    padding: 10px;
    font-size: 23px;
    float: right;
    list-style-type: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#nav a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
#nav a:hover{
    color:rgb(235, 235, 235);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.scrolled-nav {
    height: 50px !important;
    background-color :rgb(241, 241, 241) !important;
    box-shadow: 0px 1px rgb(175, 175, 175) !important;
    opacity: 0.9 !important;
}
.scrolled-nav #first{
    color:rgb(255, 184, 51) !important;
    font-weight: 500 !important;
    font-size: 28px !important;
}
.scrolled-nav li{
    font-size: 20px !important;
}
.scrolled-nav a{
    color:rgb(49, 46, 46) !important;
    font-weight: 600 !important;
}
.scrolled-nav a:hover{
    color:rgb(255, 184, 51) !important;
}
@media screen and (max-width: 700px) {
    .topnav li {display: none;}
}

.section{
    text-align:center;
    padding:3vw 5vw;
}

.section-about{
    background-color:#E44424;
}
.section-about h2{
    color: white;
}
.section-about p{
    color: whitesmoke;
    font-size: 17px
}
i{
    position: fixed;
    z-index: 20;
    cursor: pointer;
}
#git{
    left:1.5%;
    bottom:2%;
    z-index: 20;
}
#fb{
    left:4%;
    bottom:2%;
    z-index: 21;
}
#ig{
    left:6.5%;
    bottom:2%;
    z-index: 22;
}
#lin{
    left:9%;
    bottom:2%;
    z-index: 23;
}
#anime{
    z-index: -1;
    position:relative;
    background: url('images/anime.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    opacity: 1;
    min-height: 60vh;
}
.anime_text{
    position: absolute;
    top:40%;
    width:100%;
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:6vw;
    letter-spacing:8px;
    text-transform:uppercase;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
}
/* #contact{
    display: inline;
    position: relative;
} */
#dp{
    height: 70vh;
    text-align: center;
    background-color: #E44424;
    font-family: 'Fjalla One', sans-serif;
    color: #2B2B2B;
    letter-spacing: 1px;
}
#dp img{
    margin-left: auto;
	margin-right: auto;
    margin-top: 12%;
    box-shadow: 0px 2px 25px 2px #2c2c2c;
}
#phone{
    background: #2B2B2B;
    height: 70vh;
    text-align: center;
    color: whitesmoke;
}
#phone h1{
    margin-top: 15%;
    color: #E44424;
    font-family: 'Fjalla One', sans-serif;
}
#phone h4{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
#msg{
    /* float: right; */
    background: #2B2B2B;
    height: 70vh;
    /* width: 32%; */
    opacity: 1;
    text-align: center;
    color: #E44424;
}
input[type=text], textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgb(196, 196, 196)
}

input[type=submit] {
    background-color: #E44424;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(231, 53, 17);
}
#msg h1{
    margin-top: 9%;
    font-family: 'Fjalla One', sans-serif;
}
#msg h4{
    margin-top: 15px;
    color: rgb(230, 230, 230);
    font-family: 'Josefin sans', sans-serif;
}
#footer{
    background-color: #B71427;
    margin: 0;
    color: aliceblue;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
}
#interests{
    background-color: whitesmoke;
}
#cric{
    background: url('https://www.talkinglifestyle.com.au/wp-content/uploads/sites/17/2017/11/cricket.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#sk{
    background: url('https://images.pexels.com/photos/877697/pexels-photo-877697.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#vb{
    background: url('http://fijione.tv/wp-content/uploads/2017/08/bigstock-Beach-Volleyball-Silhouette-81799844_1.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#game{
    background: url('images/gaming.jpeg');
    background-size: cover;
    -webkit-transition:opacity 0.5s; 
    transition: opacity 0.5s;
}
#webop{
    background: url('https://hdqwalls.com/download/web-development-minimalism-bl-2048x1152.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#ml{
    background: url('http://cdn.wittysparks.com/wp-content/uploads/2017/08/09210754/Machine-Learning.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}