*{
    margin: 0;
    padding: 0;
}

#landing{
    position: relative; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
}
#landing::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('images/glasses_new.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}
#landing h1{
    font-size:80px;
    font-family: 'Anton', sans-serif;
    color:rgb(160, 20, 20);
    letter-spacing: 10px;
}
#landing p{
    font-size:70px;
    font-family: 'Francois One', sans-serif;
    color:orange;
    letter-spacing: 15px;
}
#landing h2{
    padding: 40px;
    font-size:80px;
    font-family: 'Francois One', sans-serif;
    color:rgb(229, 243, 222);
    letter-spacing: 10px;
    font-weight: 600px;
}
#nav{
    height:80px;
    position: fixed;
    background-color :rgba(39, 36, 36,0);
    z-index:1000;
    width: 100%;
    display: inline-block;
    -webkit-transition: height .5s line-height .5s ;
    transition: height .5s line-height .5s ;
}
#nav #first{
    color:rgb(199, 199, 199);
    font-size: 40px;
    float: left;
    padding: 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-weight: 500;
}
#nav #second{
    float:right;
}
#nav li{
    padding: 10px;
    font-size: 23px;
    float: right;
    list-style-type: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#nav a{
    text-decoration: none;
    color:rgb(170, 170, 170);
    font-weight: 500;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
#nav a:hover{
    color:white;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.scrolled-nav {
    height: 50px !important;
    background-color :rgb(241, 241, 241) !important;
    box-shadow: 0px 1px rgb(175, 175, 175) !important;
    opacity: 0.9 !important;
}
.scrolled-nav #first{
    color:rgb(255, 184, 51) !important;
    font-weight: 500 !important;
    font-size: 28px !important;
}
.scrolled-nav li{
    font-size: 20px !important;
}
.scrolled-nav a{
    color:rgb(49, 46, 46) !important;
    font-weight: 600 !important;
}
.scrolled-nav a:hover{
    color:rgb(255, 184, 51) !important;
}
.counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
  }
.section{
    text-align:center;
    padding:50px 80px;
}

.section-about{
    background-color:rgb(241, 128, 23);
}
.section-about h2{
    color: white;
}
.section-about p{
    color: whitesmoke;
    font-size: 17px
}
i{
    position: fixed;
    z-index: 20;
    cursor: pointer;
}
#git{
    left:1.5%;
    bottom:2%;
}
#fb{
    left:4%;
    bottom:2%;
}
#ig{
    left:6.5%;
    bottom:2%;
}
#lin{
    left:9%;
    bottom:2%;
}
#anime{
    /* content: ""; */
    /* position: absolute; */
    z-index: -1;
    position:relative;
    background: url('images/anime.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    opacity: 1;
    min-height: 60vh;
}
.anime_text{
    position: absolute;
    top:40%;
    width:100%;
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:100px;
    letter-spacing:8px;
    text-transform:uppercase;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
}
#contact{
    display: inline;
    position: relative;
}
#dp{
    float: right;
    min-height: 70vh;
    width: 36%;
    text-align: center;
    background-color: #E44424;
    font-family: 'Fjalla One', sans-serif;
    color: #2B2B2B;
    letter-spacing: 1px;
}
#dp img{
    margin-left: auto;
	margin-right: auto;
    margin-top: 12%;
    box-shadow: 0px 2px 25px 2px #2c2c2c;
}
#phone{
    float: left;
    background: #2B2B2B;
    min-height: 70vh;
    width: 32%;
    text-align: center;
    color: whitesmoke;
}
#phone h1{
    margin-top: 15%;
    color: #E44424;
    font-family: 'Fjalla One', sans-serif;
}
#phone h4{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
#msg{
    float: right;
    background: #2B2B2B;
    min-height: 70vh;
    width: 32%;
    opacity: 1;
    text-align: center;
    color: #E44424;
}
input[type=text], textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgb(236, 236, 236)
}

input[type=submit] {
    background-color: #E44424;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(231, 53, 17);
}
#msg h1{
    margin-top: 9%;
    font-family: 'Fjalla One', sans-serif;
}
#msg h4{
    margin-top: 15px;
    color: rgb(230, 230, 230);
    font-family: 'Josefin sans', sans-serif;
}
#footer{
    background-color: #B71427;
    margin: 0;
    color: aliceblue;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 1px;
}
#cric{
    background: url('http://www.theshillongtimes.com/wp-content/uploads/2017/04/B-K-Bajoria-K-V-Happy-Valley-win-in-inter-school-cricket.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#sk{
    background: url('https://sketchingnow.com/wp-content/uploads/2017/03/700sq-Values-Buildings.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}
#vb{
    background: url('http://fijione.tv/wp-content/uploads/2017/08/bigstock-Beach-Volleyball-Silhouette-81799844_1.jpg');
    background-size: cover;
    -webkit-transition:0.5s; 
    transition: 0.5s;
}